body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2,
h3,
p {
    margin: 0;
}
h2 {
    text-transform: uppercase;
}


/* Système de grille */
.container-large {
    margin: 0;
    width: 100%;
    height: 800px;
}

.container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0;
}

.column-nav {
    width: 1170px;
    margin: 0 auto;
    padding: 0;

}

.row-nav {
    width: 100%;
    height: 150px;
}

.row {
    width: 1170px;
    margin: auto;
    display: flex;
}

.column {
    height: 400px;
    display: flex;
    text-align: justify;
    /* margin: auto; */
    color: white;
}

.box-coffee {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 283px;
    margin: auto 20px auto auto;
}

.box-instant {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 283px;
    margin: auto 20px auto auto;

}

.box-serious {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 283px;
    margin: auto 20px auto auto;


}

.box-frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 283px;
    margin: auto 20px auto auto;

}

/* Grille Section-2 */
.container-large-2 {
    margin: 0;
    width: 100%;
    height: 400px;
}

.container-2 {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0;
}

/* Grille Section-3 */
.container-large-3 {
    margin: 0;
    width: 100%;
    height: 850px;
}

.container-3 {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0;
}

.row-portfolio {
    width: 100%;
    margin: auto;
    height: 150px;
}

.column-portfolio {
    width: 1170px;
    height: 150px;
    margin: 0 auto;
    padding: 0;
}

.row-portfolio-img {
    width: 100%;
    margin: auto;
    height: 600px;
}

.column-portfolio-img {
    width: 1170px;
    height: 600px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.container-img {
    position: relative;
}

.overlay {
    width: 270px;
    height: 270px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(images/overlay.png);
    opacity: 0;
    transition: ease .4s;
}

.plus {
    position: absolute;
    opacity: 0;
    top: 105px;
    left: 123px;
    color: white;
    font-size: 40px;
    text-align: center;
}

.overlay:hover {
    opacity: 1;
}

.overlay:hover .plus {
    opacity: 0;
}
.plus:hover a {
    opacity: 0;
}

/* Grille Section-4 */
.container-large-4 {
    background-color: #515c64ec;
    margin: 0;
    width: 100%;
    height: 470px;
}

.container-4 {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0;
}
.row-video {
    height: 470px;
    width: 1170px;
    margin: auto;
}
.section-text {
    width: 470px;
    height: 315px;
}
.center-text {
    padding-top: 80px;
    color: white;
}

/* Flexbox */

.f-nav {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.flex-nav {
    display: flex;
}

/* COLOR */

.row-color {
    background-color: #515c64ec;
}

h1 {
    color: white;
}

#color-leter {
    color: #52cbfd;
}

ul li {
    color: white;
    list-style: none;
    padding: 5px 20px;
}

.ul-color a li {
    color: black;
}

.border-b-white {
    position: relative;
}

.border-b-white::before {
    content: '';
    position: absolute;
    top: 35px;
    left: 0;
    height: 2px;
    width: 45px;
    background: white;
}

.border-b-black {
    position: relative;
}

.border-b-black::before {
    content: '';
    position: absolute;
    top: 35px;
    left: 0;
    height: 2px;
    width: 45px;
    background: black;
}

/* BACKGROUND */

header {
    background-image: url(images/bg-header.png);
    background-size: cover;
}

.container-large-2 {
    background-color: rgb(81, 204, 253)
}

/* Mise en page */

nav ul {
    margin-top: 65px;
    text-transform: uppercase;
    font-size: 15px;

}

h1 {
    margin-top: 65px;
    font-size: 22px;
}

/* .border-invisible {
    border: 2px solid transparent;
} */
nav ul li a {
    text-decoration: unset;
}

.nav-link {
    border: 2px solid transparent;
    transition: all .3s;
    color: white;
    padding: 5px;
}

.nav-link:hover {
    border: 2px solid #52cbfd;
    color: #52cbfd;
}

.nav-link-2 {
    border: 2px solid transparent;
    transition: all .3s;
    color: black;
    padding: 5px;
}

.nav-link-2:hover {
    border: 2px solid #52cbfd;
    color: #52cbfd;
}

.row-quotes {
    margin-top: 10%;
    color: white;
    font-size: 38px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.border-text {
    background-color: #4b565dbd;
    padding: 10px;
    margin: 10px;
}

.title-h2 {
    margin-bottom: 30px;
}

.margin-b {
    margin-bottom: 15px;
}

#cheat {
    margin-bottom: 55px;
}

.ul-color {
    margin: 0;
}

.margin-t {
    margin-top: 75px;
}

.margin-img {
    margin-right: 10px;
    margin-bottom: 20px;
}

img .hover-img:hover {
    background-image: url(images/hover-overlay.png);
    z-index: 22;
}

.margin-top-40 {
    mt
}