body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
}

h2,
h3,
p {
    margin: 0;
}
h2 {
    text-transform: uppercase;
    font-weight: lighter;
}


/* Système de grille */
.container-large {
    margin: 0;
    width: 100%;
    height: 800px;
}

.container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0;
}

.column-nav {
    width: 1170px;
    margin: 0 auto;
    padding: 0;

}

.row-nav {
    width: 100%;
    height: 150px;
}

.row {
    width: 1170px;
    margin: auto;
    display: flex;
}

.column {
    height: 400px;
    display: flex;
    text-align: justify;
    /* margin: auto; */
    color: white;
}

.box-coffee {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 283px;
    margin: auto 20px auto auto;
}

.box-instant {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 283px;
    margin: auto 20px auto auto;

}

.box-serious {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 283px;
    margin: auto 20px auto auto;


}

.box-frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 283px;
    margin: auto 20px auto auto;

}

/* Grille Section-2 */
.container-large-2 {
    margin: 0;
    width: 100%;
    height: 400px;
}

.container-2 {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0;
}

/* Grille Section-3 */
.container-large-3 {
    margin: 0;
    width: 100%;
    height: 850px;
}

.container-3 {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0;
}

.row-portfolio {
    width: 100%;
    margin: auto;
    height: 150px;
}

.column-portfolio {
    width: 1170px;
    height: 150px;
    margin: 0 auto;
    padding: 0;
}

.row-portfolio-img {
    width: 100%;
    margin: auto;
    height: 600px;
}

.column-portfolio-img {
    width: 1170px;
    height: 600px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.container-img {
    position: relative;
}

.overlay {
    width: 270px;
    height: 270px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(images/overlay.png);
    opacity: 0;
    transition: ease .4s;
}

.plus {
    position: absolute;
    opacity: 0;
    top: 105px;
    left: 123px;
    color: white;
    font-size: 40px;
    text-align: center;
}

.overlay:hover {
    opacity: 1;
}

.overlay:hover .plus {
    opacity: 0;
}
.plus:hover a {
    opacity: 0;
}

/* Grille Section-4 */
.container-large-4 {
    background-color: #515c64ec;
    margin: 0;
    width: 100%;
    height: 470px;
}

.container-4 {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0;
}
.row-video {
    height: 470px;
    width: 1170px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.section-text {
    width: 470px;
    height: 315px;
}
.center-text {
    padding-top: 80px;
    color: white;
    line-height: 24px;
    text-align: justify;
}
.video p {
    padding-top: 80px;
}

/* Grille Section-5 */
.container-large-5 {
    background-color: rgb(81, 204, 253);
    margin: 0;
    width: 100%;
    height: 300px;
}
.container-5 {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0;
}
.row-twitter {
    width: 1170px;
    margin: auto;
    padding: 60px;
    display: flex;
    justify-content: space-between;
}
.row-text-twitter {
    width: 1170px;
    margin: auto;
    letter-spacing: 0.5px;
    line-height: 2.5em;
}
.text-twitter {
    width: 100%;
    font-size: 25px;
}
/* Grille Section-6 */
.container-large-6 {
    background-image: url(images/bg-whois.png);
    margin: 0;
    width: 100%;
}
.container-6 {
    width: 100%;
    max-width: 1920px;
    height: 500px;
    margin: 0 auto;
    padding: 0;
}
.row-who-is {
    height: 500px;
    width: 1170px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.column-text {
    color: white;
    width: 470px;
    padding-top: 90px;
    line-height: 25px;
    text-align: justify;
}
.column-icons {
    width: 470px;
    color: white;
    padding-top: 155px;
}
.taille-icons {
    width: 64px;
    height: 64px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-top: 35px;
}
/* Section 7 */
.container-large-7 {
    background-color: white;
    margin: 0;
    width: 100%;
    height: 360px;
}
.container-7 {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0;
}
.row-citation {
    width: 1170px;
    margin: auto;
    padding: 80px;
    display: flex;
    justify-content: space-between;
}
.row-text-citation {
    width: 1170px;
    margin: auto;
    letter-spacing: 0.5px;
    line-height: 2.5em;
}
.text-citation {
    width: 100%;
    font-size: 25px;
    font-weight: lighter;
}
.text-citation-blue {
    color:  rgb(81, 204, 253);
    font-weight: bold;
    margin-top: 10px;
}
.icons {
    display: flex;
}
/* Section  */
.container-large-8 {
    background-image: url(images/bg-contact.png);
    margin: 0;
    width: 100%;
    height: 814px;
}
.container-8 {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0;
    color: white;
}
.row-contact {
    width: 1170px;
    margin: auto;
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
}
.column-form-contact {
    width: 470px;
    display: flex;
    flex-direction: column;
}
.style-input {
    width: 470px;
    height: 60px;
    background-color: transparent;
    border: 2px solid white;
}
.column-text {
    width: 600px;
}
.margin-text {
    margin-top: 20px;
}
.form-margin-t {
    margin-top: 40px;
}
.row-textarea {
    width: 1170px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.bg-textarea {
    background-color: transparent;
    border: 2px solid white;
    resize: none;
    height: 220px;
}
.style-btn {
    width: 370px;
    height: 60px;
    background-color: #52cbfd;
    color: white;
    border: none;
    margin-top: 40px;
    font-weight: bold;
    cursor: pointer;
}
/* FOOTER */
.footer-large {
    background-color: #353f47;
    margin: 0;
    width: 100%;
    height: 170px;
}
.footer {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0;
    /* color: rgba(255, 255, 255, 0.123); */
}
.row-footer {
    width: 1170px;
    margin: auto;
    padding: 80px;
}
.w-nav {
    width: 1170px;

}
.ul-flex {
    display: flex;
    justify-content: space-between;
}
.no-margin {
    margin: 0;
    padding: 0;
}
/* Flexbox */

.f-nav {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.flex-nav {
    display: flex;
}

/* COLOR */

.row-color {
    background-color: #515c64ec;
}

h1 {
    color: white;
}
.row-twitter h2 {
    color: white;
    font-weight: lighter;
}
.row-text-twitter p {
    color: white;
    font-weight: lighter;
}
.text-bold {
    font-weight: bold;
}
#color-leter {
    color: #52cbfd;
}

ul li {
    color: white;
    list-style: none;
    padding: 5px 20px;
}

.ul-color a li {
    color: black;
}

.border-b-white {
    position: relative;
}

.border-b-white::before {
    content: '';
    position: absolute;
    top: 25px;
    left: 0;
    height: 2px;
    width: 45px;
    background: white;
}

.border-b-black {
    position: relative;
}

.border-b-black::before {
    content: '';
    position: absolute;
    top: 35px;
    left: 0;
    height: 2px;
    width: 45px;
    background: black;
}

/* BACKGROUND */

header {
    background-image: url(images/bg-header.png);
    background-size: cover;
}

.container-large-2 {
    background-color: rgb(81, 204, 253)
}

/* Mise en page */

nav ul {
    margin-top: 65px;
    text-transform: uppercase;
    font-size: 15px;

}

h1 {
    margin-top: 65px;
    font-size: 22px;
}

/* .border-invisible {
    border: 2px solid transparent;
} */
nav ul li a {
    text-decoration: unset;
}

.nav-link {
    border: 2px solid transparent;
    transition: all .3s;
    color: white;
    padding: 5px;
}

.nav-link:hover {
    border: 2px solid #52cbfd;
    color: #52cbfd;
}

.nav-link-2 {
    border: 2px solid transparent;
    transition: all .3s;
    color: black;
    padding: 5px;
}

.nav-link-2:hover {
    border: 2px solid #52cbfd;
    color: #52cbfd;
}

.row-quotes {
    margin-top: 10%;
    color: white;
    font-size: 38px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.border-text {
    background-color: #4b565dbd;
    padding: 10px;
    margin: 10px;
}

.title-h2 {
    margin-bottom: 30px;
}

.margin-b {
    margin-bottom: 15px;
}

#cheat {
    margin-bottom: 55px;
}

.ul-color {
    margin: 0;
}

.margin-t {
    margin-top: 75px;
}

.margin-img {
    margin-right: 10px;
    margin-bottom: 20px;
}

img .hover-img:hover {
    background-image: url(images/hover-overlay.png);
    z-index: 22;
}

.margin-top-40 {
    margin-top: 40px;
}
.margin-top-35 {
    margin-top: 40px;
}
.border-link {
    padding: 6px 25px;
    color: black;
    border: 2px solid black;
    text-decoration: none;
    transition: all .3s;
}
.border-link:hover {
    background-color: #52cbfd;
    color: white;  
    border: 2px solid white;

}